@mixin flexible($dis, $direction, $corte, $just, $align) {
    display: $dis;
    flex-flow: $direction $corte;
    justify-content: $just;
    align-items: $align;
}

.navbar {
    background-color: rgb(245, 226, 191);
    height: 48px;
    padding: 10px 12px;
    position: relative;
}

.checkbox,
.icons-1,
.icons-2 {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 12px;
    cursor: pointer;
}

.icons-1,
.icons-2 {
    pointer-events: none;
    width: 30px;
}

.checkbox {
    opacity: 0;
}

.icons-2 {
    display: none;
}

.checkbox:checked ~ .icons-1 {
    display: none;
}

.checkbox:checked ~ .icons-2 {
    display: block;
}

.menu {
    width: 200px;
    position: absolute;
    top: -200px;
    z-index: -1;
    right: 0px;
    transition: 250ms;

}

.menu li {
    list-style: none;
    border-radius: 0px 0px 15px 15px;

    a {
        text-decoration: none;
        color: inherit;
        display: block;
        padding: 9px 12px;
        background-color: rgb(252, 218, 156);
    }

    a:hover {
        background-color: rgb(245, 226, 191);
    }
}

.checkbox:checked ~ .menu {
    top: 48px;
}

@media screen and (min-width:600px) {

    .checkbox,
    .icons-1,
    .icons-2 {
        display: none;
    }
    .navbar{
        display: flex;
    }

    
    .menu {
        top: 0;
        z-index: 1;
        width: 60%;
        display: flex;
        height: 40px;
    }
    .menu li a {
    background-color: rgb(245, 226, 191);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    padding-right: 0%;
    }

    .menu li a:hover{
        background-color:rgb(252, 218, 156) ;
        border-radius: 15px;
    }
}