@mixin flexible($dis, $direction, $corte, $just, $align) {
    display: $dis;
    flex-flow: $direction $corte;
    justify-content: $just;
    align-items: $align;
}

#menu {

    @include flexible(flex, row, nowrap, space-around, normal);

    .icono img {
        width: 50px;
        margin-top: 8px;
    }

    .login {
        display: flex;
        flex-direction: row-reverse;
        cursor: pointer;

        a {
            margin-left: 15px;
            text-decoration: none;
            color: black;
            font-weight: bolder;
            margin-top: 15px;
            font-family: none;
        }

        img {
            width: 30px;
            height: 30px;
            margin-top: 10px;
        }
    }

    .lista {
        ul {
            @include flexible (flex, row, nowrap, center, center);

            li {
                list-style: none;

                a {
                    text-decoration: none;
                    padding: 10px;
                    font-weight: bold;
                    font-size: 18px;
                    color: black;
                }

                a:hover {
                    border: 1px solid white;
                    padding: 10px;
                    background-color: rgb(69, 90, 119);
                    border-radius: 17px;
                    transition: all 50ms;
                    transform: scale(2);
                    color: white;
                }
            }
        }

    }
}