    @mixin flexible($dis, $direction, $corte, $just, $align) {
        display: $dis;
        flex-flow: $direction $corte;
        justify-content: $just;
        align-items: $align;
    }

    .share {
        width: 70%;
        h3 {
            color: black;
            width: 80%;
            font-family: Arial, Helvetica, sans-serif;
        }

        h4 a {
            text-decoration: none;
            border: 1px solid #505050;
            background-color: rgb(23, 175, 137);
            color: white;
            box-shadow: 0px 0px 2px black inset;
            padding: 10px;
            border-radius: 20px;
            font-size: 17px;
            font-family: 'Times New Roman', Times, serif;
        }
    }

    .coment {
        @include flexible(flex, column, nowrap, space-between, normal);
        margin-left: 20px;

        .person-1 {
            p {
                width: 70%;
                margin-top: 0;
                font-size: 15px;
                font-family:Georgia, 'Times New Roman', Times, serif;
            }
        }

        .person-2 {
            p {
                width: 70%;
                margin-top: 0;
                font-size: 15px;
                font-family:Georgia, 'Times New Roman', Times, serif;
            }
        }

        .person-3 {
            p {
                width: 70%;
                margin-top: 0;
                font-size: 15px;
                font-family:Georgia, 'Times New Roman', Times, serif;
            }
        }

        .kyle {
            @include flexible(flex, row, nowrap, flex-star, normal);

            img {
                width: 4%;
                height: 4%;
                border: 2px solid black;
                padding: 5px;
                border-radius: 40px;
                background-color: rgb(255, 238, 0);
                margin-right: 15px;
            }

            .star {
                h4 {
                    font-family: Arial, Helvetica, sans-serif;
                    text-decoration: underline;
                }

                p {
                    color: gold;
                    font-size: 18px;
                    margin-top: -13%;
                }
            }
        }

        .naruto {
            @include flexible(flex, row, nowrap, flex-star, normal);

            img {
                width: 4%;
                height: 4%;
                border: 2px solid black;
                padding: 5px;
                border-radius: 40px;
                background-color: rgb(57, 163, 57);
                margin-right: 15px;
            }

            .star {
                h4 {
                    font-family: Arial, Helvetica, sans-serif;
                    text-decoration: underline;
                }

                p {
                    color: gold;
                    font-size: 18px;
                    margin-top: -13%;
                }
            }
        }

        .meme {
            @include flexible(flex, row, nowrap, flex-star, normal);

            img {
                width: 4%;
                height: 4%;
                border: 2px solid black;
                padding: 5px;
                border-radius: 40px;
                background-color: white;
                margin-right: 15px;
            }

            .star {
                h4 {
                    font-family: Arial, Helvetica, sans-serif;
                    text-decoration: underline;
                }

                p {
                    color: gold;
                    font-size: 18px;
                    margin-top: -15%;
                }
            }
        }
    }