@mixin flexible($dis, $direction, $corte, $just, $align) {
    display: $dis;
    flex-flow: $direction $corte;
    justify-content: $just;
    align-items: $align;
}

#footer {
      @include flexible(flex,row,wrap,space-around,normal);
      background-color:#0B2447;
      margin-top: 10%;
      padding: 2%;


    .products h4 {
        color: white;
        font-size: 17px;
        margin: 30px;
        cursor: pointer;
    }

    .company h4 {
        color: white;
        font-size: 17px;
        margin: 30px;
        cursor: pointer;
    }

    .service h4 {
        color: white;
        font-size: 17px;
        margin: 30px;
        cursor: pointer;
    }

    .products h4:nth-child(1),
    .company h4:nth-child(1),
    .service h4:nth-child(1) {
        color: white;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        text-decoration: underline white;
        text-transform: uppercase;
    }

    .sign-up {
        h4 {
            color: white;
            font-size: 20px;
            text-decoration: underline white;
            font-family: 'Times New Roman', Times, serif;
            text-transform: uppercase;
            margin-bottom: 0px;
        }

        p {
            color: white;
            font-size: 17px;
            margin-bottom: 30px;
        }

        a {
            font-size: 20px;
            text-decoration: none;
            color: white;
            border: 1px solid #505050;
            box-shadow: 0px 0px 2px black inset;
            border-radius: 30px;
            background-color: rgb(23, 175, 137);
            padding: 10px;
            font-family: 'Times New Roman', Times, serif;
        }
    }
}
.copy {
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 20px;
    background-color: #0B2447;
}
