@mixin flexible ($dis, $direction, $corte, $just, $align) {
    display: $dis;
    flex-flow: $direction $corte;
    justify-content: $just;
    align-items: $align;
}



.container {
    width: 100%;
    @include flexible(flex, row, nowrap, space-around, normal);
    font-family: Georgia, 'Times New Roman', Times, serif;

    .foto {
        img {
            border-radius: 45px;
            width: 97%;
            margin-bottom: 100px;
            margin-top: 50px;
        }
    }

    .necesidad {
        width: 75%;
        padding: 3%;

        h2 {
            font-size: 30px
        }

        .botom a {
            text-decoration: none;
            font-size: 20px;
            color: black;
            border: 1px solid black;
            padding: 100px
        }

        .caract-product {
            h4 {
                font-weight: bolder;
                font-size: 18px;
                font-family: none; 
                color: #294852;   
                cursor: pointer;        
            }

            h2 {
                font-size: 37px;
                text-transform: uppercase;
            }

            p{
                color: #333;
                margin-top: -10px;
            }
        }
    }


    .carrito {
        width: 100%;
        text-align: center;
        margin-top: 55px;
        border: 1px solid black;
        background-color: rgb(23, 175, 137);
        box-shadow: 0px 0px 2px black inset;
        border-radius: 30px;
        color: white;
        cursor: pointer;

        p {
            font-size: 17px;
            font-family: 'Times New Roman', Times, serif;
            text-transform: uppercase;
        }
    }

    .pickers {
        @include flexible(flex, row, nowrap, space-between, flex-star);
        width: 100%;

        .cantidad {
            font-family:Arial, Helvetica, sans-serif;
            a {
                text-decoration: none;
                font-size: 30px;
                font-weight: bold;
                color: black;
                font-family: 'Courier New', Courier, monospace
            }
        }


        .pick-color {
            h3 {
                font-size: 20px;
                font-family: Arial, Helvetica, sans-serif;
            }

            .colores-box {
                display: flex;
                justify-content: space-around;
                cursor: pointer;

                .color-box-1 {
                    border: 2px solid #333;
                    background-color: rgb(87, 27, 9);
                    width: 30px;
                    height: 30px;
                    margin-right: 10px;
                    border-radius: 20px;
                }

                .color-box-2 {
                    border: 2px solid #333;
                    background-color: rgb(40, 83, 40);
                    width: 30px;
                    height: 30px;
                    margin-right: 10px;
                    border-radius: 20px;
                }

                .color-box-3 {
                    border: 2px solid #333;
                    background-color: rgb(46, 30, 107);
                    width: 30px;
                    height: 30px;
                    margin-right: 10px;
                    border-radius: 20px;
                }

                .color-box-4 {
                    border: 2px solid #333;
                    background-color: rgb(139, 139, 46);
                    width: 30px;
                    height: 30px;
                    margin-right: 10px;
                    border-radius: 20px;
                }

                .color-box-5 {
                    border: 2px solid #333;
                    background-color: rgb(59, 16, 63);
                    width: 30px;
                    height: 30px;
                    margin-right: 10px;
                    border-radius: 20px;
                }

                .color-box-6 {
                    border: 2px solid #333;
                    background-color: rgb(148, 75, 8);
                    width: 30px;
                    height: 30px;
                    margin-right: 10px;
                    border-radius: 20px;
                }
            }
        }
    }
}