body {
  background-color: rgb(240, 232, 217);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

#menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: normal;
}
#menu .icono img {
  width: 50px;
  margin-top: 8px;
}
#menu .login {
  display: flex;
  flex-direction: row-reverse;
  cursor: pointer;
}
#menu .login a {
  margin-left: 15px;
  text-decoration: none;
  color: black;
  font-weight: bolder;
  margin-top: 15px;
  font-family: none;
}
#menu .login img {
  width: 30px;
  height: 30px;
  margin-top: 10px;
}
#menu .lista ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
#menu .lista ul li {
  list-style: none;
}
#menu .lista ul li a {
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
  color: black;
}
#menu .lista ul li a:hover {
  border: 1px solid white;
  padding: 10px;
  background-color: rgb(69, 90, 119);
  border-radius: 17px;
  transition: all 50ms;
  transform: scale(2);
  color: white;
}

.container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: normal;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.container .foto img {
  border-radius: 45px;
  width: 97%;
  margin-bottom: 100px;
  margin-top: 50px;
}
.container .necesidad {
  width: 75%;
  padding: 3%;
}
.container .necesidad h2 {
  font-size: 30px;
}
.container .necesidad .botom a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  border: 1px solid black;
  padding: 100px;
}
.container .necesidad .caract-product h4 {
  font-weight: bolder;
  font-size: 18px;
  font-family: none;
  color: #294852;
  cursor: pointer;
}
.container .necesidad .caract-product h2 {
  font-size: 37px;
  text-transform: uppercase;
}
.container .necesidad .caract-product p {
  color: #333;
  margin-top: -10px;
}
.container .carrito {
  width: 100%;
  text-align: center;
  margin-top: 55px;
  border: 1px solid black;
  background-color: rgb(23, 175, 137);
  box-shadow: 0px 0px 2px black inset;
  border-radius: 30px;
  color: white;
  cursor: pointer;
}
.container .carrito p {
  font-size: 17px;
  font-family: "Times New Roman", Times, serif;
  text-transform: uppercase;
}
.container .pickers {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-star;
  width: 100%;
}
.container .pickers .cantidad {
  font-family: Arial, Helvetica, sans-serif;
}
.container .pickers .cantidad a {
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  color: black;
  font-family: "Courier New", Courier, monospace;
}
.container .pickers .pick-color h3 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.container .pickers .pick-color .colores-box {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}
.container .pickers .pick-color .colores-box .color-box-1 {
  border: 2px solid #333;
  background-color: rgb(87, 27, 9);
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 20px;
}
.container .pickers .pick-color .colores-box .color-box-2 {
  border: 2px solid #333;
  background-color: rgb(40, 83, 40);
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 20px;
}
.container .pickers .pick-color .colores-box .color-box-3 {
  border: 2px solid #333;
  background-color: rgb(46, 30, 107);
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 20px;
}
.container .pickers .pick-color .colores-box .color-box-4 {
  border: 2px solid #333;
  background-color: rgb(139, 139, 46);
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 20px;
}
.container .pickers .pick-color .colores-box .color-box-5 {
  border: 2px solid #333;
  background-color: rgb(59, 16, 63);
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 20px;
}
.container .pickers .pick-color .colores-box .color-box-6 {
  border: 2px solid #333;
  background-color: rgb(148, 75, 8);
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 20px;
}

#section-2 {
  padding: 0px;
  margin: 0px;
}
#section-2 .fine-details {
  width: 100%;
  margin-bottom: 100px;
  margin-top: 100px;
}
#section-2 .fine-details h2 {
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-family: didot;
  color: black;
  font-weight: bolder;
  text-transform: uppercase;
}
#section-2 .fine-details .parrafo-1,
#section-2 .fine-details .parrafo-2,
#section-2 .fine-details .parrafo-3 {
  width: 100%;
  text-align: center;
  margin-top: -10px;
  color: #333;
}
#section-2 .clothes {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: normal;
}
#section-2 .clothes .sudadera img {
  width: 450px;
  padding: 2%;
  border-radius: 30px;
}
#section-2 .clothes .sobrecamisa img {
  width: 450px;
  padding: 2%;
  border-radius: 30px;
}
#section-2 .clothes .polo img {
  width: 450px;
  padding: 2%;
  border-radius: 30px;
}
#section-2 .info {
  width: 90%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: normal;
  margin: 6%;
  margin-top: 7%;
}
#section-2 .info .envio img {
  width: 15%;
  border: 1px solid white;
  border-radius: 150px;
  padding: 30px;
  background-color: #1fabab;
  margin-left: 25%;
  cursor: pointer;
}
#section-2 .info .envio p {
  width: 90%;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  margin: 0px;
  margin-top: 8px;
  color: #333;
}
#section-2 .info .support img {
  width: 15%;
  border: 1px solid white;
  border-radius: 150px;
  padding: 30px;
  background-color: #1fabab;
  margin-left: 25%;
  cursor: pointer;
}
#section-2 .info .support p {
  width: 90%;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  margin: 0px;
  margin-top: 8px;
  color: #333;
}
#section-2 .info .buys img {
  width: 15%;
  border: 1px solid white;
  border-radius: 150px;
  padding: 30px;
  background-color: #1fabab;
  margin-left: 25%;
  cursor: pointer;
}
#section-2 .info .buys p {
  width: 90%;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  margin: 0px;
  margin-top: 8px;
  color: #333;
}
#section-2 .info .gift img {
  width: 15%;
  border: 1px solid white;
  border-radius: 150px;
  padding: 30px;
  background-color: #1fabab;
  margin-left: 25%;
  cursor: pointer;
}
#section-2 .info .gift p {
  width: 90%;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  margin: 0px;
  margin-top: 8px;
  color: #333;
}

#comentarios {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: normal;
  margin-left: 120px;
}
#comentarios .reviews {
  width: 60%;
  margin-right: 12%;
}
#comentarios .reviews h3 {
  margin-bottom: 25px;
  margin-top: 25px;
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
  text-decoration: underline;
}
#comentarios .reviews .stars {
  display: flex;
  flex-flow: row nowrap;
  justify-content: fle-star;
  align-items: normal;
  color: gold;
  margin-bottom: 40px;
  margin-top: -20px;
}
#comentarios .reviews .stars .star {
  font-size: 25px;
  letter-spacing: 3px;
}
#comentarios .reviews .stars .star:nth-child(5) {
  color: #333;
}
#comentarios .reviews .stars p {
  color: #333;
  margin-left: 20px;
  font-size: 16px;
  margin-bottom: -1%;
  margin-top: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#comentarios .reviews .user p {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 25px;
}
#comentarios .reviews .stats .star-5 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-star;
  align-items: center;
}
#comentarios .reviews .stats .star-5 p {
  margin-left: 10px;
  margin-right: 10px;
}
#comentarios .reviews .stats .star-5 a {
  text-decoration: none;
  color: gold;
  font-size: 14px;
  margin-bottom: 1%;
}
#comentarios .reviews .stats .star-5 .barra-5 {
  width: 90px;
  height: 13px;
  margin-left: 10px;
  background-color: gold;
  border-radius: 20px;
  box-shadow: 0px 0px 7px #ef9d09 inset;
  margin-top: -2px;
}
#comentarios .reviews .stats .star-4 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-star;
  align-items: center;
}
#comentarios .reviews .stats .star-4 p {
  margin-left: 10px;
  margin-right: 10px;
}
#comentarios .reviews .stats .star-4 a {
  text-decoration: none;
  color: gold;
  font-size: 14px;
  margin-bottom: 1%;
}
#comentarios .reviews .stats .star-4 .barra-4 {
  width: 75px;
  height: 13px;
  margin-left: 10px;
  background-color: gold;
  border-radius: 20px;
  box-shadow: 0px 0px 7px #ef9d09 inset;
  margin-top: -2px;
}
#comentarios .reviews .stats .star-3 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-star;
  align-items: center;
}
#comentarios .reviews .stats .star-3 p {
  margin-left: 10px;
  margin-right: 10px;
}
#comentarios .reviews .stats .star-3 a {
  text-decoration: none;
  color: gold;
  font-size: 14px;
  margin-bottom: 1%;
}
#comentarios .reviews .stats .star-3 .barra-3 {
  width: 55px;
  height: 13px;
  margin-left: 10px;
  background-color: gold;
  border-radius: 20px;
  box-shadow: 0px 0px 7px #ef9d09 inset;
  margin-top: -2px;
}
#comentarios .reviews .stats .star-2 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-star;
  align-items: center;
}
#comentarios .reviews .stats .star-2 p {
  margin-left: 10px;
  margin-right: 10px;
}
#comentarios .reviews .stats .star-2 a {
  text-decoration: none;
  color: gold;
  font-size: 14px;
  margin-bottom: 1%;
}
#comentarios .reviews .stats .star-2 .barra-2 {
  width: 40px;
  height: 13px;
  margin-left: 10px;
  background-color: gold;
  border-radius: 20px;
  box-shadow: 0px 0px 7px #ef9d09 inset;
  margin-top: -2px;
}
#comentarios .reviews .stats .star-1 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-star;
  align-items: center;
}
#comentarios .reviews .stats .star-1 p {
  margin-left: 10px;
  margin-right: 10px;
}
#comentarios .reviews .stats .star-1 a {
  text-decoration: none;
  color: gold;
  font-size: 14px;
  margin-bottom: 1%;
}
#comentarios .reviews .stats .star-1 .barra-1 {
  width: 30px;
  height: 13px;
  margin-left: 10px;
  background-color: gold;
  border-radius: 20px;
  box-shadow: 0px 0px 7px #ef9d09 inset;
  margin-top: -2px;
}

.share {
  width: 100%;
}
.share h3 {
  color: black;
  font-size: 17px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}
.share p {
  color: #333;
  margin-bottom: 40px;
}
.share h4 a {
  text-decoration: none;
  border: 1px solid #505050;
  background-color: rgb(23, 175, 137);
  color: white;
  box-shadow: 0px 0px 2px black inset;
  padding: 10px;
  border-radius: 20px;
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.coment {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: normal;
  margin-left: 70px;
}
.coment .person-1 h4 {
  font-size: 20px;
  margin-top: 10px;
}
.coment .person-1 p {
  width: 85%;
  margin-top: 0;
  font-size: 17px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #333;
}
.coment .person-2 h4 {
  font-size: 20px;
  margin-top: 10px;
}
.coment .person-2 p {
  width: 85%;
  margin-top: 0;
  font-size: 17px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #333;
}
.coment .person-3 h4 {
  font-size: 20px;
  margin-top: 10px;
}
.coment .person-3 p {
  width: 85%;
  margin-top: 0;
  font-size: 17px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #333;
}
.coment .kyle {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-star;
  align-items: normal;
}
.coment .kyle img {
  width: 4%;
  height: 4%;
  border: 2px solid black;
  padding: 5px;
  border-radius: 40px;
  background-color: rgb(255, 238, 0);
  margin-right: 15px;
}
.coment .kyle .star h4 {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
}
.coment .kyle .star p {
  color: gold;
  font-size: 18px;
  margin-top: -13%;
}
.coment .naruto {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-star;
  align-items: normal;
}
.coment .naruto img {
  width: 4%;
  height: 4%;
  border: 2px solid black;
  padding: 5px;
  border-radius: 40px;
  background-color: rgb(57, 163, 57);
  margin-right: 15px;
}
.coment .naruto .star h4 {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
}
.coment .naruto .star p {
  color: gold;
  font-size: 18px;
  margin-top: -13%;
}
.coment .meme {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-star;
  align-items: normal;
}
.coment .meme img {
  width: 4%;
  height: 4%;
  border: 2px solid black;
  padding: 5px;
  border-radius: 40px;
  background-color: white;
  margin-right: 15px;
}
.coment .meme .star h4 {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
}
.coment .meme .star p {
  color: gold;
  font-size: 18px;
  margin-top: -15%;
}

#footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: normal;
  background-color: #0B2447;
  margin-top: 10%;
  padding: 2%;
}
#footer .products h4 {
  color: white;
  font-size: 17px;
  margin: 30px;
  cursor: pointer;
}
#footer .company h4 {
  color: white;
  font-size: 17px;
  margin: 30px;
  cursor: pointer;
}
#footer .service h4 {
  color: white;
  font-size: 17px;
  margin: 30px;
  cursor: pointer;
}
#footer .products h4:nth-child(1),
#footer .company h4:nth-child(1),
#footer .service h4:nth-child(1) {
  color: white;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  text-decoration: underline white;
  text-transform: uppercase;
}
#footer .sign-up h4 {
  color: white;
  font-size: 20px;
  text-decoration: underline white;
  font-family: "Times New Roman", Times, serif;
  text-transform: uppercase;
  margin-bottom: 0px;
}
#footer .sign-up p {
  color: white;
  font-size: 17px;
  margin-bottom: 30px;
}
#footer .sign-up a {
  font-size: 20px;
  text-decoration: none;
  color: white;
  border: 1px solid #505050;
  box-shadow: 0px 0px 2px black inset;
  border-radius: 30px;
  background-color: rgb(23, 175, 137);
  padding: 10px;
  font-family: "Times New Roman", Times, serif;
}

.copy {
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 20px;
  background-color: #0B2447;
}

@media screen and (max-width: 600px) {
  .container {
    align-items: center;
    flex-direction: column-reverse;
  }
  .container .necesidad .caract-product h2 {
    font-size: 25px;
  }
  .container .foto {
    margin-top: 25px;
  }
  .container .pickers {
    flex-direction: column;
  }
  .container .pickers pick-color .colores-box {
    justify-content: normal;
  }
  #section-2 .clothes {
    width: 100%;
    flex-direction: column;
  }
  #section-2 .clothes .sudadera {
    padding: 4%;
    display: flex;
    justify-content: center;
  }
  #section-2 .clothes .sudadera img {
    width: 100%;
  }
  #section-2 .clothes .polo {
    padding: 4%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }
  #section-2 .clothes .polo img {
    width: 100%;
  }
  #section-2 .clothes .sobrecamisa {
    padding: 4%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }
  #section-2 .clothes .sobrecamisa img {
    width: 100%;
  }
  #section-2 .info {
    flex-direction: column;
    justify-content: center;
  }
  #section-2 .info .envio {
    margin-left: 15%;
    margin-top: 100px;
    margin-bottom: 50px;
  }
  #section-2 .info .support {
    margin-left: 15%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  #section-2 .info .buys {
    margin-left: 15%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  #section-2 .info .gift {
    margin-left: 15%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .display-none {
    display: none;
  }
  #comentarios {
    margin-left: 0px;
    flex-wrap: wrap;
    justify-content: center;
  }
  #comentarios .reviews {
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  #comentarios .reviews h3 {
    font-size: 19px;
  }
  #comentarios .reviews .user p {
    font-size: 18px;
  }
  #comentarios .reviews .stats .star-5 p {
    font-size: 15px;
  }
  #comentarios .reviews .stats .star-5 .barra-5 {
    width: 60px;
  }
  #comentarios .reviews .stats .star-4 p {
    font-size: 15px;
  }
  #comentarios .reviews .stats .star-4 .barra-4 {
    width: 50px;
  }
  #comentarios .reviews .stats .star-3 p {
    font-size: 15px;
  }
  #comentarios .reviews .stats .star-3 .barra-3 {
    width: 35px;
  }
  #comentarios .reviews .stats .star-2 p {
    font-size: 15px;
  }
  #comentarios .reviews .stats .star-2 .barra-2 {
    width: 25px;
  }
  #comentarios .reviews .stats .star-1 p {
    font-size: 15px;
  }
  #comentarios .reviews .stats .star-1 .barra-1 {
    width: 15px;
  }
  #comentarios .reviews .share {
    margin-bottom: 100px;
  }
  #comentarios .coment .persona-1 p {
    margin-bottom: 100px;
  }
  #comentarios .coment .persona-2 p {
    margin-bottom: 100px;
  }
  #comentarios .coment .persona-3 p {
    margin-bottom: 100px;
  }
  #footer {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (max-width: 900px) {
  .container {
    align-items: center;
    flex-direction: column-reverse;
  }
  .container .necesidad .caract-product h2 {
    font-size: 25px;
  }
  .container .foto {
    margin-top: 25px;
    width: 80%;
  }
  .container .pickers {
    flex-direction: column;
  }
  .container .pickers pick-color .colores-box {
    justify-content: normal;
  }
  #section-2 .clothes {
    width: 100%;
    flex-direction: column;
  }
  #section-2 .clothes .sudadera {
    padding: 4%;
    display: flex;
    justify-content: center;
  }
  #section-2 .clothes .sudadera img {
    width: 80%;
  }
  #section-2 .clothes .polo {
    padding: 4%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }
  #section-2 .clothes .polo img {
    width: 80%;
  }
  #section-2 .clothes .sobrecamisa {
    padding: 4%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }
  #section-2 .clothes .sobrecamisa img {
    width: 80%;
  }
  #section-2 .info {
    flex-direction: column;
    justify-content: center;
  }
  #section-2 .info .envio {
    margin-left: 15%;
    margin-top: 100px;
    margin-bottom: 50px;
  }
  #section-2 .info .support {
    margin-left: 15%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  #section-2 .info .buys {
    margin-left: 15%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  #section-2 .info .gift {
    margin-left: 15%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .display-none {
    display: none;
  }
  #comentarios {
    margin-left: 0px;
    flex-wrap: wrap;
    justify-content: center;
  }
  #comentarios .reviews {
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  #comentarios .reviews h3 {
    font-size: 19px;
  }
  #comentarios .reviews .user p {
    font-size: 18px;
  }
  #comentarios .reviews .stats .star-5 p {
    font-size: 15px;
  }
  #comentarios .reviews .stats .star-5 .barra-5 {
    width: 60px;
  }
  #comentarios .reviews .stats .star-4 p {
    font-size: 15px;
  }
  #comentarios .reviews .stats .star-4 .barra-4 {
    width: 50px;
  }
  #comentarios .reviews .stats .star-3 p {
    font-size: 15px;
  }
  #comentarios .reviews .stats .star-3 .barra-3 {
    width: 35px;
  }
  #comentarios .reviews .stats .star-2 p {
    font-size: 15px;
  }
  #comentarios .reviews .stats .star-2 .barra-2 {
    width: 25px;
  }
  #comentarios .reviews .stats .star-1 p {
    font-size: 15px;
  }
  #comentarios .reviews .stats .star-1 .barra-1 {
    width: 15px;
  }
  #comentarios .reviews .share {
    margin-bottom: 100px;
  }
  #comentarios .coment .persona-1 p {
    margin-bottom: 100px;
  }
  #comentarios .coment .persona-2 p {
    margin-bottom: 100px;
  }
  #comentarios .coment .persona-3 p {
    margin-bottom: 100px;
  }
  #footer {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    align-items: center;
    flex-direction: column-reverse;
  }
  .container .necesidad .caract-product h2 {
    font-size: 25px;
  }
  .container .foto {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-top: 25px;
  }
  .container .pickers {
    flex-direction: column;
  }
  .container .pickers pick-color .colores-box {
    justify-content: normal;
  }
  #section-2 .clothes {
    width: 100%;
    flex-direction: column;
  }
  #section-2 .clothes .sudadera {
    padding: 4%;
    display: flex;
    justify-content: center;
  }
  #section-2 .clothes .sudadera img {
    width: 80%;
    border-radius: 50px;
  }
  #section-2 .clothes .polo {
    padding: 4%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }
  #section-2 .clothes .polo img {
    width: 80%;
    border-radius: 50px;
  }
  #section-2 .clothes .sobrecamisa {
    padding: 4%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }
  #section-2 .clothes .sobrecamisa img {
    width: 80%;
    border-radius: 50px;
  }
  #section-2 .info {
    flex-direction: column;
    justify-content: center;
  }
  #section-2 .info .envio {
    margin-left: 15%;
    margin-top: 100px;
    margin-bottom: 50px;
  }
  #section-2 .info .support {
    margin-left: 15%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  #section-2 .info .buys {
    margin-left: 15%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  #section-2 .info .gift {
    margin-left: 15%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  #comentarios {
    margin-left: 0px;
    flex-wrap: wrap;
    justify-content: center;
  }
  #comentarios .reviews {
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  #comentarios .reviews h3 {
    font-size: 19px;
  }
  #comentarios .reviews .user p {
    font-size: 18px;
  }
  #comentarios .reviews .stats .star-5 p {
    font-size: 15px;
  }
  #comentarios .reviews .stats .star-5 .barra-5 {
    width: 60px;
  }
  #comentarios .reviews .stats .star-4 p {
    font-size: 15px;
  }
  #comentarios .reviews .stats .star-4 .barra-4 {
    width: 50px;
  }
  #comentarios .reviews .stats .star-3 p {
    font-size: 15px;
  }
  #comentarios .reviews .stats .star-3 .barra-3 {
    width: 35px;
  }
  #comentarios .reviews .stats .star-2 p {
    font-size: 15px;
  }
  #comentarios .reviews .stats .star-2 .barra-2 {
    width: 25px;
  }
  #comentarios .reviews .stats .star-1 p {
    font-size: 15px;
  }
  #comentarios .reviews .stats .star-1 .barra-1 {
    width: 15px;
  }
  #comentarios .reviews .share {
    margin-bottom: 100px;
  }
  #comentarios .coment .persona-1 p {
    margin-bottom: 100px;
  }
  #comentarios .coment .persona-2 p {
    margin-bottom: 100px;
  }
  #comentarios .coment .persona-3 p {
    margin-bottom: 100px;
  }
  #footer {
    flex-direction: column;
    align-items: flex-start;
  }
}

/*# sourceMappingURL=style.css.map */
